@font-face {
    font-family: 'kxfont';
    src: url('../fonts/康熙字典体完整版本.TTF');
}

* {
    font-family: 'kxfont';
}

body {
    background-color: #F6F6F4;
    background-image: url("https://www.transparenttextures.com/patterns/rice-paper-2.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1 {
    font-size: 60px;
    /*text-align: center;*/
}

p {
    font-size: 18px;
}


.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /*flex-direction: column;*/
    /*z-index: -999;*/
    /*top: 0;*/
}

.header {
    flex: 1;
    display: flex;
    flex-direction: row;
    /* border: 1em;
    border-style:solid; */
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

.footer {
    flex: 1;
    display: flex;
    flex-direction: row;

    /* margin: auto; */
}

/* Left column */
.leftcolumn {
    flex: 1;
    /*border: 1em;*/
    /*border-style:solid;*/
    /* margin: auto; */
}

/* Right column */
.rightcolumn {
    flex: 1;

    /* margin: auto; */
}

.introduction {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: 20%;
    margin-left: 10%;
}

.doc-title {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 30%;
}

.chart {
    width: 100%;
    height: 400px;
}
